<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
</head>
<body>
    <form action="/register/user" method="POST">
        <label for="form_user_name">Name</label>
        <input type="text" name="form_user_name">

        <label for="form_user_email">Email</label>
        <input type="email" name="form_user_email">

        <label for="form_user_password">Password</label>
        <input type="password" name="form_user_password">

        <label for="form_user_age">Age</label>
        <input type="number" name="form_user_age">

        <label for="form_user_location">Location</label>
        <input type="text" name="form_user_location">

        <label for="form_user_salary">Salary</label>
        <input type="number" name="form_user_salary">

        <button type="submit">Register User</button>
    </form>
</body>
</html>